* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

/* ------------------
index.css STYLES
------------------ */


.card {
  margin: 20px;
width: 300px;
background: #fff;
border-radius: 10px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
overflow: hidden;
padding: 16px;
text-align: center;
font-family: system-ui;
}


.card-img {
width: 100%;
height: 170px;
object-fit: cover;
border-radius: 8px;
}


.card-title {
margin-top: 14px;
font-size: 1.2rem;
font-weight: 600;
}


.card-text {
margin: 10px 0 16px;
font-size: 0.9rem;
color: #555;
}


.card-btn {
padding: 8px 14px;
border: 1px solid #4caf50;
background: transparent;
border-radius: 6px;
cursor: pointer;
font-size: 0.9rem;
transition: 0.2s ease;
}


.card-btn:hover {
background: #4caf50;
color: white;
}